# Build Evaluation Bot

Process - the inputs will define available abilities
Abilities will be tested

In [1]:
# Imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

import custom_functions as fn
from custom_functions import Process

In [2]:
# constants for the dice 
TWENTY = 10.5
TWELVE = 6.5
TEN = 5.5
EIGHT = 4.5
SIX = 3.5
FOUR = 2.5

In [3]:
# loading the data
df = pd.read_csv('data/cr_chart.csv')
# preview data
df.head()

      CR  PROF  AC  MIN_HP  MAX_HP  AB  MIN_DPR  MAX_DPR  SAVE
0  0.000     2  13       1       6   3        0        1    13
1  0.125     2  13       7      35   3        2        3    13
2  0.250     2  13      36      49   3        4        5    13
3  1.000     2  13      50      70   3        6        8    13
4  1.000     2  13      71      85   3        9       14    13

In [4]:
ability_df = pd.read_csv('data/test.csv')
# preview data
ability_df.head()

       ability_id          action_id  result
0  eldritch_blast        attack_roll     6.0
1  eldritch_blast       multi_target     1.0
2  eldritch_blast        dice_damage     5.5
3  eldritch_blast        damage_type     4.0
4  eldritch_blast  mt_cantrip_upcast     1.0

In [5]:
ability_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ability_id  25 non-null     object
 1   action_id   25 non-null     object
 2   result      25 non-null     float64
dtypes: float64(1), object(2)
memory usage: 728.0+ bytes

In [6]:
turn_df = pd.DataFrame(columns=['round', 'action', 'bonus_action','movement','damage'])
turn_df.head()

Empty DataFrame
Columns: [round, action, bonus_action, movement, damage]
Index: []

In [7]:
abilities = ['eldritch_blast','ray_of_frost']
abilities

['eldritch_blast', 'ray_of_frost']

In [19]:
available_abilities = ability_df[ability_df['ability_id'].isin(abilities)].reset_index(drop=True)
available_abilities

        ability_id            action_id  result
0   eldritch_blast          attack_roll     6.0
1   eldritch_blast         multi_target     1.0
2   eldritch_blast          dice_damage     5.5
3   eldritch_blast          damage_type     4.0
4   eldritch_blast    mt_cantrip_upcast     1.0
5   eldritch_blast               school     1.0
6   eldritch_blast                spell     0.0
7   eldritch_blast               action     0.0
8     ray_of_frost          attack_roll     6.0
9     ray_of_frost                spell     0.0
10    ray_of_frost               action     0.0
11    ray_of_frost          dice_damage     4.5
12    ray_of_frost          damage_type     6.0
13    ray_of_frost               school     1.0
14    ray_of_frost                spell     0.0
15    ray_of_frost               action     0.0
16    ray_of_frost  dice_cantrip_upcast     4.5

In [20]:
available_abilities['action_id'].unique()

array(['attack_roll', 'multi_target', 'dice_damage', 'damage_type',
       'mt_cantrip_upcast', 'school', 'spell', 'action',
       'dice_cantrip_upcast'], dtype=object)

In [21]:
proc = 'spell_attack' 
# Sample, all on one line
getattr(globals()['Process'](), proc)('ball')

arg = ball

In [22]:
# setting the base stat variables
# these will be set by the builder eventually, using static starting point now

lvl = 1
str = 10
dex = 10
con = 10
int = 10
wis = 10
cha = 10
hp = 20
ac = 10

In [23]:
available_abilities['action_id'][7]

'action'

In [24]:
# iteration 1 of the for loop
for i in range(len(available_abilities)):
    proc = available_abilities['action_id'][i]
    getattr(globals()['Process'](), proc)(proc)

arg = attack_roll
arg = multi_target
arg = dice_damage
arg = damage_type
arg = mt_cantrip_upcast
arg = school
arg = spell
arg = action
arg = attack_roll
arg = spell
arg = action
arg = dice_damage
arg = damage_type
arg = school
arg = spell
arg = action
arg = dice_cantrip_upcast